/** Logo color #4D5AE5 + #2E2F42*/

:root {
  --page-color: #ffffff;
  --main-text: #2e2f42;
  --light-text: #f4f4fd;
  --accent-color: #4d5ae5;
  --main-color: #434455;
  --action-color: #404bbf;
  --descr-font-size: 16px;
  --descr-line-height: 24px;
  --general-line-height: 1.5;
  --ls-small: 0.02em;
  --ls-big: 0.04em;
}

/** COMMON */
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 1440px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.description {
  font-weight: 400;
  font-size: var(--descr-font-size);
  line-height: var(--descr-line-height);
  letter-spacing: var(--ls-small);
  color: var(--main-color);
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: var(--ls-small);
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-text);
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: var(--descr-line-height);
  letter-spacing: var(--ls-small);
  color: var(--main-text);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.small-container {
  width: 586px;
}
.medium-container {
  width: 1128px;
}
.big-container {
  width: 1440px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 120px;
}
/** HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

/** --Logo */
.logo {
  margin-right: 76px;

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--accent-color);
}
.accent-color {
  color: var(--accent-color);
}

.dark {
  color: var(--main-text);
}

.light {
  color: var(--light-text);
}

/** NAVIGATION */

.header-container {
  margin-bottom: 0;
}

.header-nav {
  padding-left: 156px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto;
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: var(--ls-small);
  color: var(--main-text);
}

.nav-link:hover,
.nav-link:focus,
.contact-item > a:hover,
.contact-item > a:focus {
  color: var(--action-color);
}

.contacts-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.contact-item > a {
  font-size: var(--descr-font-size);
  line-height: var(--descr-line-height);
  letter-spacing: var(--ls-small);
  font-weight: 400;
  text-decoration: none;
  color: var(--main-color);
}

.address {
  font-style: normal;
  margin-right: 156px;
  margin-left: 332px;
}

/** MAIN */

/** HERO */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 100%;
  height: 600px;
  background: var(--main-text);
  color: #ffffff;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: var(--ls-small);
  text-align: center;
}
.hero-button {
  /* !При заданні розмірів кнопці відображається не як в макеті
  /* !хоча всі розміри вірні */
  /* width: 169px;
  height: 56px; */
  padding: 16px 32px;
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: var(--ls-big);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--action-color);
  cursor: pointer;
}

/** FEATURES */
.features-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 120px 156px;
}

/** SOLUTIONS */

.solutions-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 1128px;
  margin: 0 auto;
  justify-content: space-between;
}

/** TEAM */
.team-section {
  width: 100%;
  margin-top: 120px;
  padding: 120px 156px;
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.teammate {
  background-color: var(--page-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.teammate-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

/** FOOTER */
.footer {
  width: 100%;
  height: 312px;
  padding: 100px auto 100px 156px;
  background: var(--main-text);
  padding: 100px 1020px 100px 156px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 264px;
  align-items: flex-start;
}
.footer-description {
  color: #f4f4fd;
  line-height: var(--descr-line-height);
  letter-spacing: var(--ls-small);
  /* margin: 0; */
}

/** PORTFOLIO */
/** MAIN */

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 156px;
  gap: 48px 24px;
  margin-bottom: 120px;
}

.portfolio-item {
  box-sizing: border-box;
  outline: 1px solid #e7e9fc;
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 32px 16px;
}

.buttons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin: 96px auto 66px;
}

.portfolio-button {
  height: 48px;
  padding: 12px 24px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--general-line-height);
  letter-spacing: var(--ls-big);
  color: var(--accent-color);
  background-color: var(--light-text);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  background-color: var(--action-color);
  color: var(--page-color);
}
/** SECTION */
